body {
    margin: 20px;
    min-height: 100vh;
    background-image: url(wallp.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    margin: 20px;
}

h2 {
    margin: 10px;
    text-align: center;
    font-size: 4em;
    font-family: "Google Sans Flex", sans-serif;
}

p {
    margin: 10px;
    text-align: center;
    font-family: "Smooch Sans", sans-serif;
    font-size: 40px;
}

header {
    padding: 40px;
    background-color: black;
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.486);
    border-radius: 5px;
    position: relative;
    margin: 20px;
    background-size: cover;
}

.menu {
    display: flex;         
    justify-content: center;
    gap: 150px;                  
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.menu img {
    background-color: rgba(240, 248, 255, 0.615);
    width: 49px;
    height: 49px;
    border-radius: 50%; 
    padding: 6px;
    
}

.menu img:hover {
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.home-button {
    width: 75px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.669);
    border-radius: 40px;
    padding: 1px;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    
}

.home-button:hover {
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.container {
    background-color: rgba(0, 0, 0, 0.82);
    padding: 20px;
    border-radius: 10px; 
    margin: auto;
    color: aliceblue;
}

.divlogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divlogo img {
    border-radius: 80px;
    background-color: rgba(240, 248, 255, 0.522);
    padding: 3px;
    margin: 3px;
}

.divlogo img:hover {
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.list img {

    width: 50px;
    height: 50px;
    border-radius: 80px;
    background-color: rgba(250, 255, 255, 0.671);
    padding: 2.5px;
    margin: 2.5px;
}

@media (max-width: 768px) {

    body {
        margin: 10px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 20px;
    }

    header {
        padding: 20px;
        margin: 10px;
    }

    .menu {
        position: static;
        transform: none;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .menu img {
        width: 40px;
        height: 40px;
    }

    .home-button {
        width: 60px;
        height: 60px;
        position: static;
        transform: none;
        margin: 20px auto;
        display: block;
    }

    .container {
        padding: 15px;
    }
}
